/* Styling for Webkit browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 4px; /* Slim width */
  height: 4px; /* Slim height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6b3fa0; /* Purple-800 color */
  border-radius: 100px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background: transparent; /* Purple-400 color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a2c7a; /* Darker purple-800 on hover */
}

::-webkit-scrollbar-track:hover {
  background: transparent; /* Lighter purple-400 on hover */
}

/* Webkit Browsers (Chrome, Safari, etc.) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  height: 0; /* Hides the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb invisible */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Text animation rolling */
.role {
  display: block;
  height: 100%;
  padding-left: 8px;
  color: #8f60ff;
  animation: role-change 4s infinite;
}

@keyframes role-change {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}

/* Custom bullet with purple color */
li.purple-dot {
  padding-left: 25px;
  opacity: 0;
  animation: fadeIn2 0.5s forwards;
}

li.purple-dot::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(to left, #6b46c1, #8b5cf6, #ec4899);
}

.interests {
  opacity: 0;
  animation: fadeIn2 0.5s forwards;
}
.language {
  position: relative;
  background-image: url("./assets//images/banners/lang.jpeg");
  background-size: cover;
  background-position: center;
}

.language::before {
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: -1;
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.indiv-certificate {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(45deg, #9b4d96, #6b46c1, #d53f8c);
  background-size: 400% 400%;
  animation: moveGradient 6s ease infinite;
}
